<div>
  <div id="burraXtrema">
    <img src="images/mariaBX.png" alt="Foto de una iluminada">
    <p>Maria BX</p>
  </div>
  <div id="ranza">
    <video controls>
  	 <source src="videos/VID-20150529-WA0000.mp4" type="video/mp4">
    </video>
    <p>Vídeo cualquiera</p>
  </div>
</div>